# Imports

In [1]:
from pathlib import Path
import os
import pandas as pd

# Globale Variablen

In [2]:
ROOT_DIR = Path(os.getcwd()).parent
DATA_DIR = os.path.join(ROOT_DIR, "data/raw")

In [3]:
os.listdir(DATA_DIR)

['game_lineups.csv',
 'competitions.csv',
 'appearances.csv',
 'player_valuations.csv',
 'game_events.csv',
 'transfers.csv',
 'players.csv',
 'games.csv',
 'club_games.csv',
 'clubs.csv']

# players

In [4]:
players = pd.read_csv(os.path.join(DATA_DIR, "players.csv"))
players.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [5]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32601 entries, 0 to 32600
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32601 non-null  int64
 1   first_name                            30539 non-null  object
 2   last_name                             32601 non-null  object
 3   name                                  32601 non-null  object
 4   last_season                           32601 non-null  int64
 5   current_club_id                       32601 non-null  int64
 6   player_code                           32601 non-null  object
 7   country_of_birth                      29802 non-null  object
 8   city_of_birth                         30146 non-null  object
 9   country_of_citizenship                32218 non-null  object
 10  date_of_birth                         32554 non-null  object
 11  sub_position                          32421 non-null  object
 12  position                              32601 non-null  object
 13  foot                                  30065 non-null  object
 14  height_in_cm                          30345 non-null  float64
 15  contract_expiration_date              20510 non-null  object
 16  agent_name                            16582 non-null  object
 17  image_url                             32601 non-null  object
 18  url                                   32601 non-null  object
 19  current_club_domestic_competition_id  32601 non-null  object
 20  current_club_name                     32601 non-null  object
 21  market_value_in_eur                   31078 non-null  float64
 22  highest_market_value_in_eur           31078 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.7+ MB

# transfers

In [6]:
transfers = pd.read_csv(os.path.join(DATA_DIR, "transfers.csv"))
transfers.head()

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,16136,2026-07-01,26/27,417,123,OGC Nice,Retired,NaN,500000.0,Dante
1,1138758,2026-07-01,26/27,336,631,Sporting CP,Chelsea,52140000.0,45000000.0,Geovany Quenda
2,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
3,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
4,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia

In [7]:
transfers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79646 entries, 0 to 79645
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   player_id            79646 non-null  int64
 1   transfer_date        79646 non-null  object
 2   transfer_season      79646 non-null  object
 3   from_club_id         79646 non-null  int64
 4   to_club_id           79646 non-null  int64
 5   from_club_name       79646 non-null  object
 6   to_club_name         79646 non-null  object
 7   transfer_fee         51931 non-null  float64
 8   market_value_in_eur  49330 non-null  float64
 9   player_name          79646 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.1+ MB

In [25]:
transfers["transfer_fee"].describe()

count    7.964600e+04
mean     7.274292e+05
std      4.279180e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.800000e+08
Name: transfer_fee, dtype: float64

# game_lineups

In [8]:
game_lineups = pd.read_csv(os.path.join(DATA_DIR, "game_lineups.csv"))
game_lineups.head()

,game_lineups_id,date,game_id,player_id,club_id,player_name,type,position,number,team_captain
0,b2dbe01c3656b06c8e23e9de714e26bb,2013-07-27,2317258,1443,610,Christian Poulsen,substitutes,Defensive Midfield,5,0
1,b50a3ec6d52fd1490aab42042ac4f738,2013-07-27,2317258,5017,610,Niklas Moisander,starting_lineup,Centre-Back,4,0
2,7d890e6d0ff8af84b065839966a0ec81,2013-07-27,2317258,9602,1090,Maarten Martens,substitutes,Left Winger,11,0
3,8c355268678b9bbc7084221b1f0fde36,2013-07-27,2317258,12282,610,Daley Blind,starting_lineup,Left-Back,17,0
4,76193074d549e5fdce4cdcbba0d66247,2013-07-27,2317258,25427,1090,Roy Beerens,starting_lineup,Right Winger,23,0

In [9]:
game_lineups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191911 entries, 0 to 2191910
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   game_lineups_id  object
 1   date             object
 2   game_id          int64
 3   player_id        int64
 4   club_id          int64
 5   player_name      object
 6   type             object
 7   position         object
 8   number           object
 9   team_captain     int64
dtypes: int64(4), object(6)
memory usage: 167.2+ MB

# clubs

In [10]:
clubs = pd.read_csv(os.path.join(DATA_DIR, "clubs.csv"))
clubs.head()

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.6,13,48.1,1,Merck-Stadion am Böllenfalltor,17810,+€3.05m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,30,26.5,11,36.7,3,Yekaterinburg Arena,23000,+€880k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,30,26.6,15,50.0,8,Beşiktaş Park,42445,€-25.26m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.3,18,69.2,17,Olimpico di Roma,70634,€-76.90m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.5,21,70.0,18,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...

In [11]:
clubs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   club_id                  439 non-null    int64
 1   club_code                439 non-null    object
 2   name                     439 non-null    object
 3   domestic_competition_id  439 non-null    object
 4   total_market_value       0 non-null      float64
 5   squad_size               439 non-null    int64
 6   average_age              401 non-null    float64
 7   foreigners_number        439 non-null    int64
 8   foreigners_percentage    390 non-null    float64
 9   national_team_players    439 non-null    int64
 10  stadium_name             439 non-null    object
 11  stadium_seats            439 non-null    int64
 12  net_transfer_record      439 non-null    object
 13  coach_name               0 non-null      float64
 14  last_season              439 non-null    int64
 15  filename                 439 non-null    object
 16  url                      439 non-null    object
dtypes: float64(4), int64(6), object(7)
memory usage: 58.4+ KB

# appearances

In [12]:
appearances = pd.read_csv(os.path.join(DATA_DIR, "appearances.csv"))
appearances.head()

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

In [13]:
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1706806 entries, 0 to 1706805
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   appearance_id           object
 1   game_id                 int64
 2   player_id               int64
 3   player_club_id          int64
 4   player_current_club_id  int64
 5   date                    object
 6   player_name             object
 7   competition_id          object
 8   yellow_cards            int64
 9   red_cards               int64
 10  goals                   int64
 11  assists                 int64
 12  minutes_played          int64
dtypes: int64(9), object(4)
memory usage: 169.3+ MB

# competitions

In [14]:
competitions = pd.read_csv(os.path.join(DATA_DIR, "competitions.csv"))
competitions.head()

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url,is_major_national_league
0,CIT,italy-cup,italy-cup,domestic_cup,domestic_cup,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/italy-cup/star...,False
1,NLSC,johan-cruijff-schaal,johan-cruijff-schaal,domestic_super_cup,other,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/johan-cruijff-...,False
2,GRP,kypello-elladas,kypello-elladas,domestic_cup,domestic_cup,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/kypello-ellada...,False
3,POSU,supertaca-candido-de-oliveira,supertaca-candido-de-oliveira,domestic_super_cup,other,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/supertaca-cand...,False
4,RUSS,russian-super-cup,russian-super-cup,domestic_super_cup,other,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-super-...,False

In [15]:
competitions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   competition_id            44 non-null     object
 1   competition_code          44 non-null     object
 2   name                      44 non-null     object
 3   sub_type                  44 non-null     object
 4   type                      44 non-null     object
 5   country_id                44 non-null     int64
 6   country_name              36 non-null     object
 7   domestic_league_code      36 non-null     object
 8   confederation             44 non-null     object
 9   url                       44 non-null     object
 10  is_major_national_league  44 non-null     bool
dtypes: bool(1), int64(1), object(9)
memory usage: 3.6+ KB

In [16]:
competitions["confederation"].value_counts()

confederation
europa    44
Name: count, dtype: int64

# Auswertung

- Bauen eines Datensets mit Zielvariable `market_value_in_eur` aus `players.csv`, weil dort die meisten Infos eines Spielers vorhanden ist

- `clubs.csv`
    - wird benötigt um herauszufinden wie viele Spiele ein Spieler pro gespielten Club gemacht hat aus `game_lineups.csv`

- `competitions.csv`
    - wird benötigt um herauszufinden wie viele Spiele ein Spieler pro gespiele Liga gemacht hat aus `appearances.csv`

## Transfersumme und Anzahl der Transfers pro Spieler

In [17]:
players["number_of_transfers"] = 0
players["total_transfer_fee"] = 0

transfers["transfer_fee"] = transfers["transfer_fee"].fillna(0.0)

for player in players["player_id"].to_list():
    number_of_transfers = 0
    total_transfer_fee = 0

    for transfer in transfers[transfers["player_id"] == player].itertuples():
        number_of_transfers += 1
        total_transfer_fee += transfer.transfer_fee

    players.loc[players["player_id"] == player, "number_of_transfers"] = number_of_transfers
    players.loc[players["player_id"] == player, "total_transfer_fee"] = total_transfer_fee

## Summe von Startelf, Einwechslung, Kapitän & Spiele

In [18]:
game_lineups["type"].value_counts().to_list

<bound method IndexOpsMixin.tolist of type
starting_lineup    1262067
substitutes         929844
Name: count, dtype: int64>

In [19]:
game_lineups["team_captain"].value_counts().to_list

<bound method IndexOpsMixin.tolist of team_captain
0    2088441
1     103470
Name: count, dtype: int64>

In [20]:
players["total_starting_lineups"] = 0
players["total_substitute_appearances"] = 0
players["total_captain_appearances"] = 0
players["total_games"] = 0

for player in players["player_id"].to_list():
    total_starting_lineups = 0
    total_substitute_appearances = 0
    total_captain_appearances = 0
    total_games = 0

    for game_lineup in game_lineups[game_lineups["player_id"] == player].itertuples():
        if game_lineup.type == "starting_lineup":
            total_starting_lineups += 1
        elif game_lineup.type == "substitutes":
            total_substitute_appearances += 1
        else:
            None

        if game_lineup.team_captain == 1:
            total_captain_appearances += 1
        else:
            None
    
        total_games += 1

        players.loc[players["player_id"] == player, "total_starting_lineups"] = total_starting_lineups
        players.loc[players["player_id"] == player, "total_substitute_appearances"] = total_substitute_appearances
        players.loc[players["player_id"] == player, "total_captain_appearances"] = total_captain_appearances
        players.loc[players["player_id"] == player, "total_games"] = total_games

## Summe von Gelben Karten, Rote Karten, Tore, Vorlagen & gespiele Minuten

In [21]:
players["total_yellow_cards"] = 0
players["total_red_cards"] = 0
players["total_goals"] = 0
players["total_assists"] = 0
players["total_minutes_played"] = 0

for player in players["player_id"].to_list():
    total_yellow_cards = 0
    total_red_cards = 0
    total_goals = 0
    total_assists = 0
    total_minutes_played = 0

    for appearance in appearances[appearances["player_id"] == player].itertuples():
        total_yellow_cards += appearance.yellow_cards
        total_red_cards += appearance.red_cards
        total_goals += appearance.goals
        total_assists += appearance.assists
        total_minutes_played += appearance.minutes_played

        players.loc[players["player_id"] == player, "total_yellow_cards"] = total_yellow_cards
        players.loc[players["player_id"] == player, "total_red_cards"] = total_red_cards
        players.loc[players["player_id"] == player, "total_goals"] = total_goals
        players.loc[players["player_id"] == player, "total_assists"] = total_assists
        players.loc[players["player_id"] == player, "total_minutes_played"] = total_minutes_played

In [22]:
players.describe()

,player_id,last_season,current_club_id,height_in_cm,market_value_in_eur,highest_market_value_in_eur,number_of_transfers,total_transfer_fee,total_starting_lineups,total_substitute_appearances,total_captain_appearances,total_games,total_yellow_cards,total_red_cards,total_goals,total_assists,total_minutes_played
count,3.260100e+04,32601.000000,32601.000000,30345.000000,3.107800e+04,3.107800e+04,32601.000000,3.260100e+04,32601.000000,32601.000000,32601.000000,32601.000000,32601.00000,32601.000000,32601.000000,32601.000000,32601.000000
mean,3.483126e+05,2019.357259,4815.495813,182.291943,1.639685e+06,3.789347e+06,2.443054,1.777149e+06,34.289102,25.298887,2.847643,59.587988,7.70826,0.198061,5.020490,3.952517,3615.644275
std,2.845089e+05,3.961564,11583.707786,7.037030,6.407293e+06,9.887241e+06,4.355486,9.021349e+06,58.034659,32.959841,14.500834,82.318727,13.76674,0.561552,15.247018,10.199751,5966.656128
min,1.000000e+01,2012.000000,3.000000,17.000000,1.000000e+04,1.000000e+04,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,1.079730e+05,2016.000000,403.000000,178.000000,1.000000e+05,2.750000e+05,0.000000,0.000000e+00,0.000000,3.000000,0.000000,5.000000,0.00000,0.000000,0.000000,0.000000,16.000000
50%,2.839170e+05,2020.000000,1063.000000,183.000000,2.500000e+05,8.000000e+05,0.000000,0.000000e+00,7.000000,13.000000,0.000000,24.000000,2.00000,0.000000,0.000000,0.000000,867.000000
75%,5.302230e+05,2023.000000,3060.000000,187.000000,7.000000e+05,3.000000e+06,4.000000,0.000000e+00,42.000000,35.000000,0.000000,81.000000,9.00000,0.000000,3.000000,3.000000,4637.000000
max,1.391239e+06,2024.000000,110302.000000,210.000000,2.000000e+08,2.000000e+08,35.000000,3.520600e+08,457.000000,319.000000,378.000000,529.000000,147.00000,8.000000,507.000000,224.000000,51228.000000

In [23]:
players.isna().sum()

player_id                                   0
first_name                               2062
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2799
city_of_birth                            2455
country_of_citizenship                    383
date_of_birth                              47
sub_position                              180
position                                    0
foot                                     2536
height_in_cm                             2256
contract_expiration_date                12091
agent_name                              16019
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1523
highest_market_value_in_eur              1523
number_of_transfers                         0
total_transfer_fee                          0
total_starting_lineups                      0
total_substitute_appearances                0
total_captain_appearances                   0
total_games                                 0
total_yellow_cards                          0
total_red_cards                             0
total_goals                                 0
total_assists                               0
total_minutes_played                        0
dtype: int64