# Imports

In [1]:
from pathlib import Path
import os
import pandas as pd

# Globale Variablen

In [2]:
ROOT_DIR = Path(os.getcwd()).parent
DATA_DIR = os.path.join(ROOT_DIR, "data")
DATA_DIR
important_data = []
num_data = 0

In [3]:
os.listdir(DATA_DIR)

['game_lineups.csv',
 'competitions.csv',
 'appearances.csv',
 'player_valuations.csv',
 'game_events.csv',
 'transfers.csv',
 'players.csv',
 'games.csv',
 'club_games.csv',
 'clubs.csv']

# game_lineups

In [4]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[0])
print(os.listdir(DATA_DIR)[num_data])
df.head()

game_lineups.csv

,game_lineups_id,date,game_id,player_id,club_id,player_name,type,position,number,team_captain
0,b2dbe01c3656b06c8e23e9de714e26bb,2013-07-27,2317258,1443,610,Christian Poulsen,substitutes,Defensive Midfield,5,0
1,b50a3ec6d52fd1490aab42042ac4f738,2013-07-27,2317258,5017,610,Niklas Moisander,starting_lineup,Centre-Back,4,0
2,7d890e6d0ff8af84b065839966a0ec81,2013-07-27,2317258,9602,1090,Maarten Martens,substitutes,Left Winger,11,0
3,8c355268678b9bbc7084221b1f0fde36,2013-07-27,2317258,12282,610,Daley Blind,starting_lineup,Left-Back,17,0
4,76193074d549e5fdce4cdcbba0d66247,2013-07-27,2317258,25427,1090,Roy Beerens,starting_lineup,Right Winger,23,0

Beinhaltet: Welche Spieler zum welchen Spiel gespielt haben
- könnte wichtig sein, weil dadurch ermittelt wird wie viele male ein Spieler gespielt hat und welche Rolle er meistens hat (Einwechslen- vs. Startelfspieler)

In [5]:
important_data.append(os.listdir(DATA_DIR)[num_data])
num_data += 1

# competitions

In [6]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

competitions.csv

,competition_id,competition_code,name,sub_type,type,country_id,country_name,domestic_league_code,confederation,url,is_major_national_league
0,CIT,italy-cup,italy-cup,domestic_cup,domestic_cup,75,Italy,IT1,europa,https://www.transfermarkt.co.uk/italy-cup/star...,False
1,NLSC,johan-cruijff-schaal,johan-cruijff-schaal,domestic_super_cup,other,122,Netherlands,NL1,europa,https://www.transfermarkt.co.uk/johan-cruijff-...,False
2,GRP,kypello-elladas,kypello-elladas,domestic_cup,domestic_cup,56,Greece,GR1,europa,https://www.transfermarkt.co.uk/kypello-ellada...,False
3,POSU,supertaca-candido-de-oliveira,supertaca-candido-de-oliveira,domestic_super_cup,other,136,Portugal,PO1,europa,https://www.transfermarkt.co.uk/supertaca-cand...,False
4,RUSS,russian-super-cup,russian-super-cup,domestic_super_cup,other,141,Russia,RU1,europa,https://www.transfermarkt.co.uk/russian-super-...,False

Beinhaltet: alle Wettbewerbe im Fußball
- eher unwichtig für den Marktwert

In [7]:
num_data += 1

# appearances

In [8]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

appearances.csv

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90

Beinhaltet: für jeden Spieler genaue Details zum jeden Spiel (Gelbe/Rote Karten, Tore, Vorlagen, gespielte Minuten)
- könnte wichtig sein um die weitere Statistiken für ein Spiele zu messen

In [9]:
important_data.append(os.listdir(DATA_DIR)[num_data])
num_data += 1

# player_valuations

In [10]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

player_valuations.csv

,player_id,date,market_value_in_eur,current_club_id,player_club_domestic_competition_id
0,405973,2000-01-20,150000,3057,BE1
1,342216,2001-07-20,100000,1241,SC1
2,3132,2003-12-09,400000,126,TR1
3,6893,2003-12-15,900000,984,GB1
4,10,2004-10-04,7000000,398,IT1

Beinhaltet: für jeden Spieler zu welchen Datum er welchen Marktwert, welchen Club und welche Liga er gespielt hat
- könnte wichtig sein um den Zeitverlauf und welche Liga vllt tendenziell teurere Spieler hat

In [11]:
important_data.append(os.listdir(DATA_DIR)[num_data])
num_data += 1

# game_events

In [12]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

game_events.csv

,game_event_id,date,game_id,minute,type,club_id,player_id,description,player_in_id,player_assist_id
0,2f41da30c471492e7d4a984951671677,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",NaN,NaN
1,a72f7186d132775f234d3e2f7bc0ed5b,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",NaN,NaN
2,b2d721eaed4692a5c59a92323689ef18,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",NaN,56416.0
3,aef768899cedac0c9a650980219075a2,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",NaN,146258.0
4,5d6d9533023057b6619ecd145a038bbe,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",49499.0,NaN

Beinhaltet: zu den jeweiligen Spiele, wann zu welchen Zeit was und vom wem passiert ist
- sehr detailiert und wird bereits zusammengefasst in appearances; daher erstmal nicht wichtig

In [13]:
num_data += 1

# transfers

In [14]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

transfers.csv

,player_id,transfer_date,transfer_season,from_club_id,to_club_id,from_club_name,to_club_name,transfer_fee,market_value_in_eur,player_name
0,16136,2026-07-01,26/27,417,123,OGC Nice,Retired,NaN,500000.0,Dante
1,1138758,2026-07-01,26/27,336,631,Sporting CP,Chelsea,52140000.0,45000000.0,Geovany Quenda
2,195778,2026-06-30,25/26,79,27,VfB Stuttgart,Bayern Munich,0.0,12000000.0,Alexander Nübel
3,569033,2026-06-30,25/26,39,27,1.FSV Mainz 05,Bayern Munich,0.0,4000000.0,Armindo Sieb
4,626913,2026-06-30,25/26,398,380,Lazio,Salernitana,0.0,15000000.0,Boulaye Dia

Beinhaltet: Transferdaten - Wann, von wo zu wo, Transfersumme und Marktwert

In [15]:
important_data.append(os.listdir(DATA_DIR)[num_data])
num_data += 1

# players

In [16]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

players.csv

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

Beinhaltet: persönliche Daten, Position, Fußstärke, Ablaufdatum des Vertrages, Agenten, Welcher Club, Marktwert und höchster Marktwert

In [17]:
important_data.append(os.listdir(DATA_DIR)[num_data])
num_data += 1

# games

In [18]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

games.csv

,game_id,competition_id,season,round,date,home_club_id,away_club_id,home_club_goals,away_club_goals,home_club_position,...,stadium,attendance,referee,url,home_club_formation,away_club_formation,home_club_name,away_club_name,aggregate,competition_type
0,2321027,L1,2013,1. Matchday,2013-08-11,33.0,41.0,3.0,3.0,8.0,...,Veltins-Arena,61973.0,Manuel Gräfe,https://www.transfermarkt.co.uk/fc-schalke-04_...,4-2-3-1,4-2-3-1,FC Schalke 04,Hamburger SV,3:3,domestic_league
1,2321033,L1,2013,1. Matchday,2013-08-10,23.0,86.0,0.0,1.0,13.0,...,EINTRACHT-Stadion,23000.0,Deniz Aytekin,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-3-1-2,Eintracht Braunschweig,Sportverein Werder Bremen von 1899,0:1,domestic_league
2,2321044,L1,2013,2. Matchday,2013-08-18,16.0,23.0,2.0,1.0,1.0,...,SIGNAL IDUNA PARK,80200.0,Peter Sippel,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,4-3-2-1,Borussia Dortmund,Eintracht Braunschweig,2:1,domestic_league
3,2321060,L1,2013,3. Matchday,2013-08-25,23.0,24.0,0.0,2.0,18.0,...,EINTRACHT-Stadion,23325.0,Wolfgang Stark,https://www.transfermarkt.co.uk/eintracht-brau...,4-3-2-1,4-2-3-1,Eintracht Braunschweig,Eintracht Frankfurt Fußball AG,0:2,domestic_league
4,2321072,L1,2013,5. Matchday,2013-09-14,16.0,41.0,6.0,2.0,1.0,...,SIGNAL IDUNA PARK,80645.0,Tobias Welz,https://www.transfermarkt.co.uk/borussia-dortm...,4-2-3-1,3-5-2,Borussia Dortmund,Hamburger SV,6:2,domestic_league

Beinhaltet: oberflächige Infos für ein Spiel
- eher nicht relevant

In [19]:
num_data += 1

# club_games

In [20]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

club_games.csv

,game_id,club_id,own_goals,own_position,own_manager_name,opponent_id,opponent_goals,opponent_position,opponent_manager_name,hosting,is_win
0,2320450,1468.0,0.0,NaN,Holger Bachthaler,24.0,2.0,NaN,Armin Veh,Home,0
1,2320454,222.0,0.0,NaN,Volkan Uluc,79.0,2.0,NaN,Bruno Labbadia,Home,0
2,2320460,1.0,3.0,NaN,Jürgen Luginger,86.0,1.0,NaN,Robin Dutt,Home,1
3,2320472,2036.0,4.0,NaN,Frank Schmidt,72.0,5.0,NaN,Alexander Schmidt,Home,0
4,2321027,33.0,3.0,8.0,Jens Keller,41.0,3.0,9.0,Thorsten Fink,Home,0

Beinhaltet: für jedes Spiel ein paar Infos
- nicht relevant

In [21]:
num_data += 1

# clubs

In [23]:
df = pd.read_csv(DATA_DIR + "/" + os.listdir(DATA_DIR)[num_data])
print(os.listdir(DATA_DIR)[num_data])
df.head()

clubs.csv

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
0,105,sv-darmstadt-98,SV Darmstadt 98,L1,NaN,27,25.6,13,48.1,1,Merck-Stadion am Böllenfalltor,17810,+€3.05m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/sv-darmstadt-9...
1,11127,ural-ekaterinburg,Ural Yekaterinburg,RU1,NaN,30,26.5,11,36.7,3,Yekaterinburg Arena,23000,+€880k,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/ural-ekaterinb...
2,114,besiktas-istanbul,Beşiktaş Jimnastik Kulübü,TR1,NaN,30,26.6,15,50.0,8,Beşiktaş Park,42445,€-25.26m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/besiktas-istan...
3,12,as-rom,Associazione Sportiva Roma,IT1,NaN,26,26.3,18,69.2,17,Olimpico di Roma,70634,€-76.90m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/as-rom/startse...
4,148,tottenham-hotspur,Tottenham Hotspur Football Club,GB1,NaN,30,25.5,21,70.0,18,Tottenham Hotspur Stadium,62850,€-120.05m,NaN,2024,../data/raw/transfermarkt-scraper/2024/clubs.j...,https://www.transfermarkt.co.uk/tottenham-hots...

Beinhaltet: für jede Mannschaft zusätzliche Info; Mannschaftsgröße, Alter etc.
- kann eventuell nutzbar sein

In [24]:
important_data.append(os.listdir(DATA_DIR)[num_data])
num_data += 1

# Auswertung

Hier sind alle wichtige Daten, die nun zusammengebracht werden müssen

In [26]:
important_data

['game_lineups.csv',
 'appearances.csv',
 'player_valuations.csv',
 'transfers.csv',
 'players.csv',
 'clubs.csv']